[submodule "dmlc-core"]
	path = 3rdparty/dmlc-core
	url = https://github.com/leezu/dmlc-core
	branch = omp
[submodule "dlpack"]
	path = 3rdparty/dlpack
	url = https://github.com/dmlc/dlpack
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = https://github.com/agauniyal/rang
